.nav-spacing{
  margin: 0 0 0 10px;
}

.nav-menu{
  text-align:right;
}

.moby-dick-title{
  text-align:center;
  margin: 0 0 80px;
}

.moby-dick-img{
  display:block; margin: 0 auto;
}

.reading-guide{
  width: 560px; 
  margin: 20px auto;
  padding: 30px;
  background-color: #fafafa;
}
.cover-img{
  height:200px; 
  float: left; 
  margin-right:40px;
}

.beginning{
  font-style: italic;
  font-size:20px;
}

.beginning > p > span{
font-style:normal;
font-size:24px;
font-weight:bold;
color:#ff0000;
}
